@tailwind base;
@tailwind components;
@tailwind utilities; 

@layer components {
a {
  @apply underline;
}

p {
 @apply m-2;
}

h1 {
    @apply text-2xl;
    @apply font-bold;
}

h2 {
    @appy text-xl;
    @apply font-bold;
    @apply my-4;
}

h3 {
    @apply text-lg;
    @apply font-bold;
    @apply my-3;
}

ul { 
   @apply mx-2;
}

.content ul {
    @apply flex;
    @apply flex-wrap
}


.content ul li {
  @apply m-2;
  @apply p-2;
  @apply border;
  @apply rounded-lg;
  min-width: 350px;
}

img {
    max-width: 50%;
    min-width: 250px;
}

div {
    @apply p-4;
}
}
