<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{SITE_TITLE}}</title>
  <link rel="stylesheet" type="text/css" href="/static/style.css">
  <style>
{% block style %} 
{% endblock %} 
  </style>
</head>
<body>
    <div class="mb-4">
	<h1 class="text-4xl my-3"><a class="no-underline" href="/">The Miller Wishlist</a></h1>
    <hr />
    </div>
<div class="container mx-auto">
  {% block content %}
  {% endblock %}
</div>
<div class="footer">
    <hr>
    <div class="flex justify-items-center">
        <a class="underline text-blue-400" href="/jays-list.html">Jay's List</a>
        <a class="underline text-blue-400" href="/britnies-list.html">Britnie's List</a></li>
        <a class="underline text-blue-400" href="/jaeannes-list.html">JaeAnne's List</a></li>
    </div>

</div>

</body>
</html>
