{% extends 'base.html' %}
{% block content %}
  <div>
    <h1 class="text-xl">Know what to get for us!</h1>
    <p>Shopping is hard and hopefully this will give you some ideas of what to get the miller
    family.</p>
  </div>
  <div>
    <h2 class="text-lg">Choose your Miller</h2>
    <div class="flex justify-around">
	<div class="border rounded-lg drop-shadow-xl">
	    <h2 class="text-blue-400"><a href="/jays-list.html">Jay's List</a></h2>
	<img src="https://cdn.shopify.com/s/files/1/2603/2528/products/Pilot-Iroshizuku-Ebisu-BS-SwabText_800x.jpg?v=1574279068">
	</div>
	<div class="border rounded-lg drop-shadow-xl">
        <h2><a class="text-blue-400" href="/britnie.html">Britnie's List</a></h2>
	<img src="https://m.media-amazon.com/images/I/61G8hHjESZL._SL1500_.jpg">
	</div>
	<div class="border rounded-lg drop-shadow-xl">
        <h2><a class="underh2ne text-blue-400" href="/jaeannes-list.html">JaeAnne's List</a></h2>
	</div>
    </div>
  </div>
  {% endblock %}
