{% extends 'base.html' %}
{% block content %}
  <div>
    <h1 class="text-xl">Know what to get for us!</h1>
    <p>Shopping is hard and hopefully this will give you some ideas of what to get the miller
    family.</p>
  </div>
  <div>
    <h2 class="text-lg">Choose your Miller</h2>
    <ul>
        <li><a class="underline text-blue-400" href="/jays-list.html">Jay's List</a></li>
        <li><a class="underline text-blue-400" href="/britnie.html">Britnie's List</a></li>
        <li><a class="underline text-blue-400" href="/jaeannes-list.html">JaeAnne's List</a></li>
    </ul>
  </div>
  {% endblock %}
