{% extends 'base.html' %}
{% block content %}
  <div>
    <h1 class="text-xl">Know what to get for us!</h1>
    <p>Shopping is hard and hopefully this will give you some ideas of what to get the miller
    family.</p>
  </div>
  <div>
    <h2 class="text-lg">Choose your Miller</h2>
    <div class="">
	<div class="min-w-fit border rounded-lg drop-shadow-xl">
	    <h2 class="text-blue-400"><a href="/jay.html">Jay's List</a></h2>
	    <a href="/jay.html"><img src="https://cdn.shopify.com/s/files/1/0057/6235/1219/products/Stagg-EKG-Plus-01-Matte-Black-02_900x.png?v=1634841046">
	</a>
	</div>
	<div class="min-w-fit border rounded-lg drop-shadow-xl">
        <h2><a class="text-blue-400" href="/britnie.html">Britnie's List</a></h2>
	<a href="/britnie.html">
	<img src="https://m.media-amazon.com/images/I/61G8hHjESZL._SL1500_.jpg">
	</a>
	</div>
	<div class="min-w-fit border rounded-lg drop-shadow-xl">
        <h2><a class="underh2ne text-blue-400" href="/jaeannes-list.html">JaeAnne's List</a></h2>
	</div>
    </div>
  </div>
  {% endblock %}
